.main-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-family: Arial;
	font-weight: 500;
	color: #343a40;
}

h1 {
	font-weight: 500;
	width: 100%;
	margin: 0 auto 10vh auto;
}

form {
	width: 80%;
	max-width: 340px;
	margin: 2vh auto;
	text-align: left;
	font-size: 14px;
}

label {
	
}

input {
	width: calc(98% - 2px);
	height: 23px;
	margin: 1vh auto 4vh auto;
	padding: 1%;
	border: 1px solid lightgrey;
	border-radius: 4px;
	outline: none;
}

input:hover,:focus {
	box-shadow: 0 0 5px grey;
	transition: 0.1s;
}

.auth-button, .reg-button {
	width: 20%;
	height: 35px;
	margin: 3vh 0;
	padding: 0;
	background-color: #28a745;
	border: none;
	color: white;
	font-size: 14px;
	vertical-align: middle;
}

.reg-page-button, .auth-page-button, .send-email-button, .reg-page-return-button {
	display: block;
	width: 50%;
	height: 34px;
	margin: 0 0 0 -5px;
	background-color: white;
	border: none;
	text-align: left;
	color: #28a745;
	font-size: 14px;
}

.reg-page-button:hover, .auth-page-button:hover, .send-email-button:hover, .reg-page-return-button:hover {
	box-shadow: none;
	text-decoration: underline;
}

/*Reg page*/
.reg-button {
	width: 50%;
}

/*Auth page*/
.auth-page-button {
	width: 60%;
}

/*EmailSent page*/
.send-email-button, .reg-page-return-button {
	margin: 2vh 0;
	width: 100%;
	text-align: center;
}

.text-container {
	margin-bottom: 6vh;
	line-height: 2.5vh;
	font-size: 14px;
}
